$brand-primary: #1e3c72;
$brand-secondary: #de8819;
$button-box: #354052;
$heading: #de8819;
$Label: #354052;
$Label-value: #354052;
$link: #de8819;
$notbook: #354052;
$tooltip: #1e3c72;
$border: #dde6f3;
$menu-main-title: #354052;
