@mixin o_hide() {
    display: none;
}

@mixin o_show() {
    display: block;
}

.oe_view_manager_current .oe_cu_add_item {
    @include o_hide();
}

.oe_view_manager_current .results tfoot .oe_cu_own_footer {
    @include o_hide();
}

.o_dashboard.global_search_dashboard {
    .results tfoot .oe_cu_own_footer {
        display: table-row;
    }
    .results tfoot .oe_cu_base_footer {
        @include o_hide();
    }
}

.o_dashboard {
    .dashboard_title {
        padding: 10px 0;
    }
}

.o_dashboard.global_search_dashboard {
    .dashboard_title, .oe_dashboard_links {
        @include o_hide();
    }
}

.oe-global-autocomplete {
    position: absolute;
    width: 300px;
    border: 1px solid rgb(175, 175, 182);
    z-index: 666;
    cursor: default;
    margin-top: 2px;
    border-radius: 3px;
    max-height: 400px;
    overflow-y: auto;
    display: none;
    background-color: white;
    > ul {
        list-style-type: none;
        margin: 5px 0px;
        padding-left: 0;
        width: 100%;
        color: black;
        > li {
            padding-left: 10px;
            text-shadow: 0 0 0 white;
            width: 100%;
        }
        > li.oe-selection-focus {
            background-color: #7c7bad;
            color: white;
            cursor: pointer;
        }
        > li.oe-indent {
            margin-left: 20px;
            padding-left: 23px;
        }
        > li > span.oe-extend {
            cursor: pointer;
        }
    }
}

.global-search {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    min-width: 300px;
    max-width: 100%;
    display: block;
    margin: 5px 0;
    position: relative;
    -moz-user-select: initial;
    font-size: 12px;
    height: 22px;
    padding: 2px 0 0 6px;
}

.cu_search {
    display: block;
    padding: 4px 10px;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 2;
    cursor: pointer;
}

.cu_close {
    display: none;
    padding: 4px 10px;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 2;
    cursor: pointer;
}

.mb0 {
    margin-bottom: 0 !important;
}
